#pp{
    float: right;
    width: 160px;
    height: auto;
    padding: 12px;

    border-bottom-right-radius: 21%;
    border-top-left-radius: 21%;
}
    
#links{
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 26px;
    height: 26px;
    padding: 6px;
}

#logo:hover{
    width: 26px;
    height: 26px;
    background-color: rgba(173, 147, 236, 0.719);
    background-size: cover;
    padding: 6px;
    border-radius: 20%;
}


body{
    background-color: rgb(224, 223, 223);
    margin: 0px;
    margin-bottom: 3%;
}

.block{
    background-color: rgba(0, 0, 0, 0.09); 
    margin: 12px; 
    color: #333232;
    text-align: justify;
    margin-bottom: 40px;
}

/* .block p{
    color: #333232;
    text-align: justify;
    margin-bottom: 40px; 
} */

.tab{
    display: inline;
    margin-left: 30px;
}

p{
    /* background-color: #454141; */
    font-family: sans-serif;
    font-size: 140%;
    padding: 5px;
}

/* a{
    font-size: 105%;
    font-family: sans-serif;
    color: #ffffff;
    padding: 2%;
    text-decoration: none;
} */

.banner{
    
    background-image: linear-gradient(to top, rgba(224, 223, 223, 1), rgba(224, 223, 223, 0)), url(Assets/brick_wall.jpg);
    
    font-family: papyrus;
    font-size: 70px;
    font-style: italic;
    font-weight: 475;
    padding: 50px;
}

footer{
    text-align: center;
    background-color: rgba(104, 83, 134, 0.682);
    color:rgb(224, 223, 223);
}

footer p{
    margin: 0px;
}
